* {
  /*scroll-behavior: smooth;*/
}

body, html {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  height: 100%;
}

a {
  text-decoration: none;
  color: #0078D4;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.splash-page,
.maintenance-page {
  background-color: #f2f2f2;
  color: #1a406a;
  height:100vh;
  background-image: url(./assets/img/splashPage.jpg);
  background-position: center;
  background-size: cover;
}

.splash-page .content {
  width: 550px;
  height:200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -275px;
}

.splash-page .gcx-logo,
.maintenance-page .gcx-logo {
  width: 100%;
  max-width:400px;
  margin-top: 40px;
}

.splash-page.process-splash{
  padding-top: 45px;
}

.lang-select a {
  color: #1a406a !important;
}

.logo-img {
  max-width: 300px;
  width: 100%;
}

.cta-hero {
  background-color: #f2f2f2;
  background-image: url(./assets/img/splashPage.jpg);
  height:100vh;
  background-position: center;
  background-size: cover;
  padding: 40px 0 40px;
  color: #1a406a;
}

.cta-hero .heading-zone {
  max-width: 850px;
  margin: 0 auto;
}

.info-holder {
  background-color: #EFF6FC;
  height: 675px;
  border-radius: 25px 0 0 25px;
}
.info-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
}
.info-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}
.info-sub {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 0 55px;
}
.info-list {
  list-style: none;
  font-size: 14px;
}

.info-highlight {
  color: #266ef2;
}

.info-list .info-highlight {
  font-weight: 600;
  font-size: 16px;
  color: #1a406a !important;
}
.info-img {
  width: 300px;
}

.highlight {
  color: #266ef2;
}

.cta-hero .highlight {
  color: #0078d4;
}

.cta-hero .btn-primary,
.splash-page .btn-primary {
  background-color: #266ef2;
  border-radius: 2rem;
}

.CTA {
  background-color: #3AA16F !important;
  border-color: #3AA16F !important;
  border-radius: 2rem !important;
}

.cta-hero .lead {
  font-size: 1.5rem;
  font-weight: 400;
}

.ms-MessageBar-innerText a {
  color: #0056b3;
}

.step-area {
  padding: 80px 0;
}

.step-content {
  padding-left: 25px;
}

.step-section p {
  color: #1a406a;
}

.step-section {
  padding-top: 60px;
}
.step-section .lead {
  font-weight: 400;
}

.step-section h2 {
  margin-bottom: 20px;
}

.step-section hr {
  max-width: 240px;
  border-top: 2px solid rgba(0,0,0,.1);
}

.btn-lg {
  padding: .6rem 1.2rem !important;
  font-size: 1.6rem !important;
  line-height: 2 !important;
  border-radius: 3rem !important;
}

.onboarding-section h2,
.onboarding-section p {
  color:  #1a406a;
}
.onboarding-section .lead {
  font-size: 1.5rem;
  font-weight: 400;
}
.onboarding-section {
  padding: 60px 0 80px;
}

.rh5v-DefaultPlayer_controls {
  opacity: 100;
}

.rh5v-PlayPause_component:focus-within,
.rh5v-Seek_component:focus-within,
.rh5v-Time_component:focus-within,
.rh5v-Captions_component:focus-within,
.rh5v-Volume_component:focus-within,
.rh5v-Fullscreen_component:focus-within {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.rh5v-Volume_icon {
  padding: 0;
}

footer {
  color: white;
  background-color: #266ef2;
  padding: 80px 0 10px;
}

footer a,
footer a:hover {
  color: #fff;
}

.footer-imgs {
  max-width: 100%;
}

.goc-canada {
  max-width:340px;
  height: auto;
}

.form-holder {
  background-color: white;
  margin-top: 15px;
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  border-radius: 25px;
  height: 675px;
}

.row-holder {
  margin: 0 !important;
}

.form-padding {
  padding: 5% 5% !important;
}

.form-title {
  font-size: 26px;
  font-weight: bold;
  color: #1A406A;
  margin-bottom: 30px;
  margin-top: 15px;
}

.input-padding {
  margin-top: 12px;
}

.input-helper-text {
  font-size: 13px;
}

.input-helper-text.valid {
  color: rgb(16, 124, 16);
}

.canada-fip{
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cloud-helper {
  margin-top: -6px;
}

.process-title {
  font-size: 30px;
}
.process-holder {
  width: 50%;
  margin: 0 auto;
  height: 525px !important;
  padding: 3%;
}
.process-holder .gcx-logo {
  margin-top: 0px !important;
}

.process-holder a {
  white-space: nowrap;
  color: #0078D4;
}
.submit-btn {
  background-color: #0078D4 !important;
  border-color: #0078D4 !important;
  border-radius: 10px;
  color: white;
  width: 100%;
  padding: 8px;
}
.submit-btn:disabled,
.submit-btn[disabled] {
  background-color:rgb(243, 242, 241) !important;
  border: 1px solid rgb(243, 242, 241) !important;
  color: rgb(102, 102, 102) !important;
}

.help-holder{
  margin-top: 10px;
}
.help-holder a {
  color: #0078D4;
}
.goc-canada {
  max-width:300px;
  height: auto;
}

/* TOOLKIT STYLES */

.toolkit-container {
  text-align: center;
  font-size: 18px;
  color: #03426e;
}
.toolkit-row-holder {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 65px 0px;
}

.bg-toolkit-head {
  background-color: #ebebeb;
  
}

.head-container {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 75px 0px;
}

.bg-toolkit-head h1 {
  font-size: 72px;
  margin: 45px 0px;
  font-weight: normal;
}

.bg-toolkit-head img {
  width:475px;
  margin-bottom: 35px;
}

.bg-toolkit-head a {
  line-height: 1 !important;
}
.bg-toolkit-head hr {
  border: 2px solid white;
  width: 200px;
}

.toolkit-info-box {
  margin: 0 auto;
  text-align: left;
  width: 50%;
  padding: 55px 0px;
}

.toolkit-info-box h2 {
  margin-bottom: 35px;
  font-weight: lighter;
  font-size: 26px;
}

.toolkit-info-box ul {
  list-style: none;
}

.toolkit-info-box ul li {
  margin-bottom: 35px;
}

.bg-toolkit-highlight {
  background-color: #dde7f6;
}
.toolkit-display-header {
  font-size: 48px;
  font-weight: lighter;
  color: black;
  margin-bottom: 45px;
}

.toolkit-text-holder {
  width: 70%;
  margin: 0 auto;
}
.toolkit-hr { 
  border-bottom: #c5c5c5 solid 2px;
  width: 200px;
}
.toolkit-highlight {
  color: #266ef2;
}

.toolkit-bold {
  color: #03426e;
  font-weight: bold;
}

.toolkit-accordion {
  text-align: left;
  margin-top: 45px;
  margin-left: 30px;
}
.toolkit-accordion-item{
  margin-bottom: 30px;
}

/*
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

*/

.chevron {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 4px;
  height: 30px;
  width: 25px;
  transform: rotate(270deg);
}
.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 15%;
  width: 50%;
  transform: skew(0deg, 16deg);
}
.toolkit-info-box .chevron:before{
  background: white !important;
}
.toolkit-accordion .chevron:before{
  background: #03426e !important;
}
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 15%;
  width: 50%;
  transform: skew(0deg, -16deg);
}
.toolkit-info-box .chevron:after {
  background: white !important;
}
.toolkit-accordion .chevron:after{
  background: #03426e !important;
}

#resource-holder {
  padding: 100px 40px;
}
.resource-row {
  background-image: url(./assets/img/toolkit-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.resource-text {
  width: 95%;
  margin: 25px auto;

}

.toolkit-accordion-item button{
  color: #03426e !important;
}

.toolkit-accordion-item table .btn-link {
  font-weight: bold;
}
/*
.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.right:after {
	left: 0;
	transform: rotate(45deg);
}
*/

@media (max-width: 870px) {
  .footer-imgs .d-flex {
    display: block !important;
  }

  .footer-imgs .goc-canada {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 575px) {
  .order-xs-1 {
      order: 1;
  }
  .order-xs-12 {
      order: 12;
  }
}