* {
  /*scroll-behavior: smooth;*/
}

body {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.splash-page {
  background-color: #f2f2f2;
  color: #1a406a;
  height:100vh;
  background-image: url(./assets/img/splashPage.jpg);
  background-position: center;
  background-size: cover;
}

.splash-page .content {
  width: 550px;
  height:200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -275px;
}

.splash-page .gcx-logo {
  width: 100%;
  max-width:400px;
  margin-top: 40px;
}

.lang-select a {
  color: #1a406a;
}

.logo-img {
  max-width: 500px;
  width: 100%;
}

.cta-hero {
  background-color: #f2f2f2;
  background-image: url(./assets/img/splashPage.jpg);
  background-position: center;
  background-size: cover;
  padding: 60px 0 80px;
  color: #1a406a;
}

.cta-hero .heading-zone {
  max-width: 850px;
  margin: 0 auto;
}

.highlight {
  color: #266ef2;
}

.cta-hero .highlight {
  color: #0078d4;
}

.cta-hero .btn-primary,
.splash-page .btn-primary {
  background-color: #266ef2;
  border-radius: 2rem;
}

.CTA {
  background-color: #3AA16F !important;
  border-color: #3AA16F !important;
  border-radius: 2rem !important;
}

.cta-hero .lead {
  font-size: 1.5rem;
  font-weight: 400;
}

.step-area {
  padding: 80px 0;
}

.step-content {
  padding-left: 25px;
}

.step-section p {
  color: #1a406a;
}

.step-section {
  padding-top: 60px;
}
.step-section .lead {
  font-weight: 400;
}

.step-section h2 {
  margin-bottom: 20px;
}

.step-section hr {
  max-width: 240px;
  border-top: 2px solid rgba(0,0,0,.1);
}

.btn-lg {
  padding: .6rem 1.2rem !important;
  font-size: 1.6rem !important;
  line-height: 2 !important;
  border-radius: 3rem !important;
}

.onboarding-section h2,
.onboarding-section p {
  color:  #1a406a;
}
.onboarding-section .lead {
  font-size: 1.5rem;
  font-weight: 400;
}
.onboarding-section {
  padding: 60px 0 80px;
}

.rh5v-DefaultPlayer_controls {
  opacity: 100;
}

.rh5v-PlayPause_component:focus-within,
.rh5v-Seek_component:focus-within,
.rh5v-Time_component:focus-within,
.rh5v-Captions_component:focus-within,
.rh5v-Volume_component:focus-within,
.rh5v-Fullscreen_component:focus-within {
  box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.rh5v-Volume_icon {
  padding: 0;
}

footer {
  color: white;
  background-color: #266ef2;
  padding: 80px 0 10px;
}

footer a,
footer a:hover {
  color: #fff;
}

.footer-imgs {
  max-width: 100%;
}

.goc-canada {
  max-width:340px;
  height: auto;
}

@media (max-width: 870px) {
  .footer-imgs .d-flex {
    display: block !important;
  }

  .footer-imgs .goc-canada {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 575px) {
  .order-xs-1 {
      order: 1;
  }
  .order-xs-12 {
      order: 12;
  }
}